<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <!-- Action Widget -->
    {% if user.is_authenticated %}
    <div class="card my-4">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled mb-0">

                        <li style="margin-top:5px;margin-bottom:5px;">
                            <a class="btn btn-secondary" href="{% url 'blog:post-create' %}"><i
                                    class="fas fa-plus"></i> Add new Post</a>
                        </li>
                        {% ifequal request.path '/published/' %}
                        <li style="margin-top:5px;margin-bottom:5px;">
                            <a class="btn btn-default" href="{% url 'blog:post-draft-list' %}"><i
                                    class="fas  fa-list"></i> Draft Posts</a>

                        </li>
                        {% endifequal %}
                        {% ifequal request.path '/drafts/' %}
                        <li style="margin-top:5px;margin-bottom:5px;">
                            <a class="btn btn-default" href="{% url 'blog:post-list' %}"><i
                                    class="fas  fa-list"></i>Published Posts</a>

                        </li>
                        {% endifequal %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Search Widget -->
    <!--<div class="card my-4">-->
    <!--<h5 class="card-header">Search</h5>-->
    <!--<div class="card-body">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for...">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-secondary" type="button">Go!</button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    {% if categories %}
    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% if categories %}
                        {% for category in categories %}
                        <li>
                            <a href="{{category.get_absolute_url}}">{{category}}</a>
                        </li>
                        {% empty %}
                        <p>No categories yet</p>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% if tags %}
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% if tags %}
                        {% for tag in tags %}
                        <li>
                            <a href="{{tag.get_absolute_url}}">{{tag}}</a>
                        </li>
                        {% empty %}
                        <p>No tags yet</p>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    {% endif %}

    <!-- Side Widget -->
    <!-- Sidebar Widgets Column -->

    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django',
                follow up the tutorial to learn how we made it..!</p>
            <a href="#"
               class="btn btn-danger">Know more!</a>
        </div>
    </div>


</div>
