{% extends "blog/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-3 mx-auto">
        <h3>{{title}}</h3>
        {{ form.media }}
        <div class="row form-error">
            <div class="column" id="content">
                <form method="post" action='' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
