{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-lg-5 col-lg-offset-3 mx-auto">
        <a href="{% url 'blog:post-create' %}" class="top-menu">
             <span class="fa-stack fa-lg">
                 <i class="fas fa-circle fa-stack-2x "></i>
                 <i class="fa fa-plus fa-stack-1x fa-inverse " aria-hidden="true"></i>
             </span>Add new
        </a>
        <a href="{% url 'blog:post_draft_list' %}" class="top-menu">
            <span class="fa-stack fa-lg">
                 <i class="fas fa-circle fa-stack-2x"></i>
                 <i class="fa fa-clone fa-stack-1x fa-inverse " aria-hidden="true"></i>
             </span>
            Drafts
        </a>
    </div>
</div>
{% endif %}