<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Oenga John</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %} " rel="stylesheet">
    <script src="{% static 'blog/js/font-awesome-all.js' %}"></script>
    {% block css %}

    {% endblock css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/prism.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/parsley.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/blog-home.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/custom.css' %} " rel="stylesheet">


</head>

<body>
<!-- Navigation Panel -->
{% include 'blog/includes/navigation-panel.html' %}
{% include 'blog/includes/errors-panel.html' %}


<!-- Main Blog Post Content -->
<div class="container" style="margin-bottom:20px;">
    {% block content %}
    {% endblock content %}
</div>

<!-- Footer -->
{% include 'blog/includes/footer-panel.html' %}

<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/js/tinymce.min.js' %}"></script>
<script src="{% static 'blog/js/prism.js' %}"></script>
<script src="{% static 'blog/js/parsley.min.js' %}"></script>
{% block js %}
{% endblock js %}

</body>

</html>
