{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link href="{% static 'blog/css/select2.min.css' %} " rel="stylesheet">
{% endblock css %}f
{% block content %}
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <h3>{{title}}</h3>
        {{ form.media }}
        <div class="row form-error">
            <div class="column" id="content">
                <form method="post" action='' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'blog/js/select2.min.js' %}"></script>
<script type="text/javascript">
    $('.selectmultiple').select2();



</script>
{% endblock js %}