{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- Blog Entries Column -->
<div class="row">
    <div class="col-md-8">


        <h1 class="my-4">Posts
            <small>Drafts</small>
        </h1>
        {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            <div class="card-body">
                <h2 class="card-title"> {{ post.title }} </h2>
                <p class="card-text"></p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View Details &rarr;</a>

            </div>
            <div class="card-footer text-muted">
                Created on {{post.created_at}} by
                <a href="#">{{post.author.get_username}}</a>

            </div>
        </div>
        {% empty %}
        <p>No posts yet.</p>
        {% endfor %}


        {% include 'blog/includes/pagination.html' %}

    </div>
    {% include 'blog/includes/list-sidebar.html' %}

</div>
</div>

{% endblock %}